@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    background: #1845a7f3;
    color: #00040a;
 }
 .conteiner {
max-width: 750px;
margin: auto;
padding-top: 10px;
@media (max-width: 650px) {
   .conteiner .info {
      display: block;
      text-align: center;
   }
   
}
}
.avatar  {
   width: 200px;
   border-radius: 20px;
   box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
   
}
.info {
   display:flex ;
   
}
.info-text {
   margin-left: 40px;
}
    .info-text p {
    font-style: italic;
    font-weight: bold;
    padding: 0;
    color:rgb(15, 4, 1);
    font-size: 24px;
    }
    .info-text h1 {
      color: rgb(60, 247, 14);

    }
.cards {
   margin-top: 20px;
   margin-bottom: 10px;
   color: #fff;
}
.card {
   border: 1px solid rgb(27, 26, 26);
   border-radius: 20px;
   background: rgb(78, 78, 90);
   
}
.card li {
   padding: 10px;
}
.card h2 {
   padding-left: 20px;
   color: rgb(60, 247, 14);
}
.card2 {
   border: 1px solid rgb(27, 26, 26);
   border-radius: 20px;
   background: rgb(78, 78, 90);
   padding: 0px;
}
.card2 li {
   padding-left: 0px;
   margin-bottom: 10px;
   list-style: none;
}
.card2 h2 {
   padding-left: 20px;
   color: rgb(60, 247, 14);

}

.card3 {
   
   border: 1px solid rgb(27, 26, 26);
   border-radius: 20px;
   background: rgb(78, 78, 90);
   padding: 15px;
}
.card3 th {
   color: rgb(4, 255, 4);
}
.card3 td {
   padding-right: 30px;
   color: rgb(243, 199, 199)
}
.card3 h2 {
   padding-left: 15px;
   color: rgb(60, 247, 14);
}
.card4 {
   border: 1px solid rgb(27, 26, 26);
   border-radius: 20px;
   background: rgb(78, 78, 90);
   padding: 15px;
}
.card4 h2 {
    padding-left: 20px;
   color: rgb(60, 247, 14);
}
.card5   {
   color:#000;
}
a {
   color: #000;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
   color:rgb(89, 81, 138);
}
a:active {
   color: blue;
}
a:visited {
   color:rgb(194, 20, 29);
}
.btn {
   background: #111;
   padding: 15px 20px;
   color: #fff;
   border: none;
   font-family: inherit;
   cursor: pointer;
} 
.btn:hover {
   opacity: 0.8;
   text-decoration: underline;
}
